.Banner {
	height: 60%;
	min-height: 400px;
}

.bannerCanvas {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.666);
	padding-top: 4rem;
}

.bannerContent {
	color: white;
	height: 100%;
	padding: 1.3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: row;
}

.movieInfo {
	flex: 1;
}

.extraInfo {
	flex: 1;
}

.movieInfo {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.movieInfo {
	padding-left: 2rem;
	padding-right: 1rem;
	border-right: 0.5px solid rgb(255, 255, 255);
}

.extraInfo {
	padding-left: 1rem;
}

.ogTitle span {
	font-size: 16px;
	font-weight: lighter;
}

.timeAndScore {
	display: flex;
	gap: 1rem;
	font-size: 14px;
	font-weight: bold;
}

.description {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6em;
	overflow-y: scroll;
	max-width: 46ch;
}

/* .bannerContent > * {
	border: 1px solid pink;
}

.movieInfo > * {
	border: 1px solid red;
} */
