.deckWrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
	overflow-x: scroll;
}

.deckWrapper::-webkit-scrollbar {
	height: 12.5px;
}

.deckWrapper::-webkit-scrollbar-thumb {
	background-color: rgb(109, 109, 109); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 5px solid white;
}

@media only screen and (max-width: 600px) {
	.FilmsDeck {
		height: 40%;
		padding: 0.5rem;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1.2rem;
	}

	.deckWrapper {
		height: 86%;
		gap: 0.5rem;
		padding-top: 0;
		padding-bottom: 0.2rem;
		/* padding-left: 0.5rem; */
		/* padding-right: 0.5rem; */
	}

	.FilmCard:first-child {
		padding-left: 0.5rem;
	}

	.FilmCard:last-child {
		padding-right: 0.5rem;
	}
}

@media only screen and (min-width: 601px) {
	.FilmsDeck {
		height: 40%;
		padding: 1rem;
		padding-left: 0;
		padding-right: 0;
	}

	.deckWrapper {
		height: 100%;
		gap: 0.8rem;
		padding-top: 0;
		padding-bottom: 0.5rem;
	}

	.FilmCard:first-child {
		padding-left: 1rem;
	}

	.FilmCard:last-child {
		padding-right: 1rem;
	}
}
