.FilmsDeck {
	height: 40%;
	padding: 1rem;
}

.deckWrapper {
	height: 86%;
	width: 100%;
	margin: 0 auto;
	display: flex;
	gap: 0.6rem;
	overflow-x: auto;
	padding: 0.3rem;
}

.deckWrapper::-webkit-scrollbar {
	height: 12.5px;
}

.deckWrapper::-webkit-scrollbar-thumb {
	background-color: rgb(109, 109, 109); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 5px solid white;
}

@media only screen and (min-width: 601px) {
	.deckWrapper {
		height: 100%;
	}
}
